<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <script type="text/javascript" src="static/script/script.js"></script
</head>
<body>
    <div class="top">
    <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('clear_cart') }}">Clear cart</a></li>
    <li><a href="{{ url_for('show_cart') }}">Show cart</a></li>
    </ul>
    </div>